<h1>Welcome to The Afghanistan Digital Library</h1>
<p>&nbsp;</p>
<p><h3>The immediate objective of the Afghanistan Digital Library is to retrieve and restore the first sixty years of Afghanistan’s published cultural heritage. The project is collecting, cataloging, digitizing, and making available over the Internet as many Afghan publications from the period 1871–1930 as it is possible to identify and locate.</h3></p>
<% #Creates a bit space in the page -%>

